<header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">
            <div class="e-slovo-logo"></div>
            <span class="mdl-layout__title">eSlovo always helps you in a learning</span>
        </span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="zubrilka.html">Zubrilka</a>
            <a class="mdl-navigation__link" href="about.html">About</a>
        </nav>
    </div>
</header>